<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>臭臭平台</title>
        <link rel="icon" th:href="@{/img/cc.png}" />
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    </head>

    <body style="padding: 15px;">
        <form class="layui-form" th:object="${contractReceive}">
            <input type="hidden" name="id" th:value="*{id}" readonly>

            <div class="layui-form-item">
                <label class="layui-form-label">领用日期</label>
                <div class="layui-input-block">
                    <input type="text" id="receiveTime" name="receiveTime" th:value="*{receiveTime}" readonly autocomplete="off" placeholder="请选择领用日期" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">合同模板</label>
                <div class="layui-input-block">
                    <select name="modelId" lay-verify="required">
                        <option value=""></option>
                        <option th:each="item : ${models}" th:value="${item.id}" th:text="${item.name}" th:selected="${item.id eq contractReceive.modelId}"></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">协议模板</label>
                <div class="layui-input-block">
                    <select name="treatyId" lay-verify="required">
                        <option value=""></option>
                        <option th:each="item : ${treatyModels}" th:value="${item.id}" th:text="${item.name}" th:selected="${item.id eq contractReceive.treatyId}"></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">合同类型</label>
                <div class="layui-input-block">
                    <select name="typeId" lay-verify="required">
                        <option value=""></option>
                        <option th:each="item : ${types}" th:value="${item.id}" th:text="${item.name}" th:selected="${item.id eq contractReceive.typeId}"></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">领用部门</label>
                <div class="layui-input-block">
                    <div id="deptTree"></div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">领用岗位</label>
                <div class="layui-input-block">
                    <select id="postId" name="postId" lay-filter="postId">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">领用人</label>
                <div class="layui-input-block">
                    <select id="empId" name="empId">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">履行状态</label>
                <div class="layui-input-block">
                    <select name="status">
                        <option value=""></option>
                        <option value="0" th:selected="*{status == 0}">作废</option>
                        <option value="1" th:selected="*{status == 1}">归档</option>
                        <option value="2" th:selected="*{status == 2}">领用</option>
                        <option value="3" th:selected="*{status == 3}">签订</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="remarks" th:text="*{remarks}" placeholder="请输入备注" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
                    <button lay-filter="close" class="layui-btn layui-btn-primary">取消</button>
                </div>
            </div>
        </form>
    </body>

    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/tree/xm-select.js}"></script>

    <script th:inline="javascript">
        const deptId = [[ ${contractReceive.deptId} ]];
        const postId = [[ ${contractReceive.postId} ]];
        const empId = [[ ${contractReceive.empId} ]];
    </script>

    <script>
        layui.extend({
            request: '/js/index/request'
        }).use(['form', 'layer', 'request', 'jquery', 'laydate'], function () {
            const form = layui.form;
            const layer = layui.layer;
            const request = layui.request;
            const $ = layui.jquery;
            const laydate = layui.laydate;

            laydate.render({
                elem: '#receiveTime',
                calendar: true
            });

            const deptInitVal = [];
            if (deptId) {
                deptInitVal.push(deptId);
                postSel(deptId);
            }
            if (postId) {
                userSel(postId);
            }

            request.post({
                url: '/contractReceive/dept/tree',
                async: false,
                callback: function (res) {
                    layer.closeAll('loading');
                    if (res.status !== 200) {
                        layer.msg(res.message, {icon: 5, anim: 6});
                        return false;
                    }

                    xmSelect.render({
                        el: '#deptTree',
                        data: res.data,
                        initValue: deptInitVal,
                        name: 'deptId',
                        prop: {
                            name: 'name',
                            value: 'id'
                        },
                        tips: '请选择领用部门',
                        empty: '呀, 没有数据呢',
                        clickClose: true,
                        model: {label: {type: 'text'}},
                        tree: {
                            show: true,
                            strict: false,
                            expandedKeys: deptInitVal
                        },
                        on: function (data) {
                            if(data.isAdd){
                                const onRes = data.change.slice(0, 1);
                                const checkedId = onRes[0].id;
                                postSel(checkedId);
                                return onRes;
                            } else {
                                postHtml([]);
                            }
                        }
                    });
                }
            });

            function postSel(deptId) {
                request.post({
                    url: '/contractReceive/post',
                    data: {deptId: deptId},
                    async: false,
                    callback: function (res) {
                        layer.closeAll('loading');
                        if (res.status !== 200) {
                            layer.msg(res.message, {icon: 5, anim: 6});
                            return false;
                        }

                        postHtml(res.data);
                    }
                });
            }

            function postHtml(data) {
                let html = '<option value=""></option>';
                if (data.length) {
                    $.each(data, function (index, sysPost) {
                        html += '<option value="' + sysPost.id + '"';
                        if (postId === sysPost.id) {
                            html += ' selected="selected"';
                        }
                        html += '>' + sysPost.name + '</option>';
                    });
                }
                $('#postId').html(html);
                form.render('select');
            }

            function userSel(postId) {
                request.post({
                    url: '/contractReceive/user',
                    data: {postId: postId},
                    async: false,
                    callback: function (res) {
                        layer.closeAll('loading');
                        if (res.status !== 200) {
                            layer.msg(res.message, {icon: 5, anim: 6});
                            return false;
                        }

                        userHtml(res.data);
                    }
                });
            }

            function userHtml(data) {
                let html = '<option value=""></option>';
                if (data.length) {
                    $.each(data, function (index, sysUser) {
                        html += '<option value="' + sysUser.id + '"';
                        if (empId === sysUser.id) {
                            html += ' selected="selected"';
                        }
                        html += '>' + sysUser.name + '</option>';
                    });
                }
                $('#empId').html(html);
                form.render('select');
            }

            let changePostId = postId;
            form.on('select(postId)', function (data) {
                if (data.value && data.value !== changePostId) {
                    userSel(data.value);
                }
                if (!data.value) {
                    userHtml([]);
                }
                changePostId = data.value;
            });

            $('button[lay-filter="close"]').on('click', function () {
                const index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });

            form.on('submit(submit)', function (data) {
                const id = data.field.id;
                const method = id == null || id == '' ? 'POST' : "PUT";
                const message = id == null || id == '' ? '新增成功' : "修改成功";

                request.jsonQs({
                    url: '/contractReceive',
                    type: method,
                    data: data.field,
                    callback: function (res) {
                        layer.closeAll('loading');
                        if (res.status !== 200) {
                            layer.msg(res.message, {icon: 5, anim: 6});
                            return false;
                        }

                        layer.msg(message, {
                            icon: 6,
                            time: 500,
                            end: function () {
                                const index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                parent.refresh.reloadSearch();
                            }
                        });
                    }
                });

                return false;
            });
        });
    </script>
</html>
