<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>臭臭平台</title>
        <link rel="icon" href="img/cc.png" />
        <link rel="stylesheet" href="layui/css/layui.css" media="all" />
    </head>

    <body style="padding: 15px;">
        <span class="layui-badge">这个是首页，需要定制化。</span>
    </body>

    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="layui/layui.js"></script>
</html>